.Footer-Description {
  margin-top: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.footer-container {
  margin-top: 50px;
  background-color: #ffafb6;
  padding: 4rem 0 2rem 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.footer-subscription {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-bottom: 24px;
  padding: 24px;
  color: rgb(26, 22, 22);
}
.Footer-Box {
  display: flex;
  margin-top: 100px;
  justify-content: space-evenly;

}
.Footer-Box-Content {
  margin: 2px;
  font-family: 'Courier New', Courier, monospace;
  font-size: 10px;
}
.footer-subscription > p {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}

.footer-subscription-heading {
  margin-bottom: 24px;
  font-size: 24px;
}

.footer-subscription-text {
  margin-bottom: 24px;
  font-size: 20px;
}

.footer-links {

  display: flex;
  justify-content: space-between;
  background-color: #ffafb6;
  margin-right: 40px;
}

.footer-link-wrapper {
  display: flex;
  justify-content: space-between;
}

.footer-link-items {
  color: white;
  display: flex;
  flex-direction: column;
  margin: 16px;
  box-sizing: border-box;
}
.footer-link-items h2 {
  margin-bottom: 16px;
}
.footer-link-items a {
  color: white;
  text-decoration: none;
  margin-bottom: 0.5rem;
}
.footer-link-items a:hover {
  color: black;
  transition: 0.3s ease-out;
}
.social-icon-link {
  color: aliceblue;
  font-size: 24px;
  margin-right: 5px;
}
.social-button {
  padding: 5px;
  margin: 5px;
  background-color: #ffafb6;
  color: white;
  margin: 2px solid white;
}
.social-media {
  max-width: 1000px;
  width: 100%;
}

.social-media-wrap {
  display: flex;
  justify-content: space-between;
  width: 90%;
  max-width: 1000px;
  margin: 40px auto 0 auto;
}

.social-icons {
  display: flex;
  align-items: center;
  width: 240px;
}
.social-logo {
  color: white;
  justify-self: start;
  margin-left: 20px;
  cursor: pointer;
  text-decoration: none;
  font-size: 2rem;
  display: flex;
  align-items: center;
  margin-bottom: 16px;
}
.website-rights:hover,
.social-logo:hover {
  color: white;
  text-decoration: none;
}

.website-rights {
  color: white;
  justify-self: end;
  font-size: 18px;
  margin-bottom: 16px;
}
